*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.idea
.gradle
local.properties
*.iml
buck-out/
\.buckd/
*.keystore
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots



.DS_Store
.vscode/
build/
android/app/build
android/app/src/main/assets*
android/app/src/main/res/drawable*
ios/build
.package-lock.json
node_modules/
npm-debug.log*